<div class="row">
  <div class="-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{! <div class="row mt-4">
  <div class="-md-6"> }}
    <h3>Create a New workout:</h3>
    {{#if workouts.length}}
    {{!-- {{#if workoutDay}} --}}
    <div class="container1">
      {{#each workouts as |workout|}}
      <div class="card special-container">
        <div class="input-group">
          <input type="hidden" value={{workout.id}} id='id'>
          <h3 class="weekday" value={{workout.weekday}}>{{workout.weekday}}</h3>
          <span class="input-group-text"> Workout:</span>
          <textarea type="text" id='workout-desc' aria-label="Workout" class="form-control"
            style="height: 25vh"> {{workout.workout}}</textarea>
          <span class="input-group-text" style="width: 8rem;">
            Total Time Spent:</span>
          <textarea type="text" id='workout-time' aria-label="Time"
            class="form-control"> {{workout.workout_time}}</textarea>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="container1">
        {{#each weekDays as |weekDay|}}
        <div class="card special-container">
          <div class="input-group">
            <h3 class="weekday">{{ weekDay.weekday }}</h3>
            <span class="input-group-text">Workout:</span>
            <input type="hidden" value="">
            <textarea type="text" id='workout-desc' aria-label="Workout" class="form-control"
              style="height: 25vh"> </textarea>
            <span class="input-group-text" style="width: 8rem;">
              Total Time Spent:</span>
            <textarea type="text" id='workout-time' aria-label="Time" class="form-control"> </textarea>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
    <div class="btn-container">
      <button type="click" class="btn btn-primary" id="update-button">Update</button>
    </div>

    <div class='chart-background'>
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const mon = document.querySelector('')
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
          datasets: [{
            label: 'Total time for week: 120 | Minutes Spent Exercising This Day',
            data: [45, 20, 35, 55, 25, 30, 50],
            borderWidth: 1,
            backgroundColor: [
              'rgba(255, 99, 132, 0.7)',
              'rgba(255, 159, 64, 0.7)',
              'rgba(255, 205, 86, 0.7)',
              'rgba(75, 192, 192, 0.7)',
              'rgba(54, 162, 235, 0.7)',
              'rgba(153, 102, 255, 0.7)',
              'rgba(201, 203, 207, 0.7)'
            ],
            color: 'rgba(255, 99, 132, 0.7)',
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>

<script src="./js/profile.js"></script>